<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/loginRegister.css" />
  </head>
  <body>
    <form action="/admin/register" method="post">
      <div class="container">
        <h1>Create Account</h1>
        <hr />

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          id="psw"
          required
          autocomplete="new-password"
        />

        <hr />

        <button type="submit" class="registerbtn">Create Account</button>
        <hr />
        <p>If have an account? Please <a href="/admin/register">Login</a>.</p>
      </div>
    </form>
  </body>
</html>
